@model CORRECAO_PROVA_OFICIAL_2.Models.Profissional

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProfissional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProfissional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfissaoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfissaoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfissionalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
